@model Testing.Models.User

@{
    ViewData["Title"] = "Home";
}

@if (Model != null)
{

    <p><strong>ID:</strong> @Html.DisplayFor(model => model.Id)</p>
    @Html.LabelFor(model => model.Id) <br />
    @Html.DisplayFor(model => model.Id)<br />
    <label asp-for="Id"></label>
    <input asp-for="Id" class="form-control" />
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Email:</strong> @Model.Email</p>
    <p><strong>Phone Number:</strong> 0123456789</p>

    <p><strong>Wei Hao:</strong> fk</p>

  
}
else
{
    <p>No user data available.</p> 
}